:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
  --shadows : 'Shadows Into Light', cursive;
  --jost:  "Jost"; 
  --yellow: #f9cd43; --orange: #e9430f; --skyblue: #2fa7eb; --navyblue: #0d25a9;
  }
/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto;
}
#slider .slider-box h1,#slider .slider-box h1 .last_slide_head{
  font:500 40px/42px "Jost";
  color: #000000;
  letter-spacing: 0px;
  max-width: 65%;
}
#slider .slider-box h1 .last_slide_head{  font-weight: 700}
#slider .slider-box {  width: 38%;}
.slider_head{  padding-left: 25px;}
.smalll_head img{
  width: 26px !important;
  height: 27px;
  margin-right: 5px;
}
.slider_head{  position: relative;}
.slider_head:before{
  content: "";
  width: 4px;
  height: 86%;
  background-image: linear-gradient(0deg, #f9ce44 0%, #ea430f 100%);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
}
#slider .slider-box span{
  font: bold 14px/18px var(--shadows);
  color: #ec5616;  
}
#slider .slider-box p{
  font:500 14px/25px "Poppins";
  color: #000000;
  max-width: 80%
}
#slider .carousel-caption {
  top: 150px;
  bottom: inherit;
  left: 0;
  right: 0;
  margin: 0 !important;
  padding: 0 !important;
  bottom: 0;
}
.inner_carousel{  width: 100%;}
#slider .carousel-prev-button, #slider .carousel-next-button {
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}
#slider .carousel-prev-button {
  position: absolute;
  top:50%;
  left: 45px;
  transform: translateY(-50%);
}
#slider .carousel-next-button {
  top: 50%;
  right: 80px;
  position: absolute;
  transform: translateY(-50%);
}
#slider .carousel-item-next,#slider .carousel-item-prev,#slider .carousel-item.active {  display: block !important;}
#slider .carousel-control-prev-icon,#slider .carousel-control-next-icon{  background-image:none; }
.carousel-control-next-icon,.carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .slider-button-1{
  font:700 14px/30px "Jost";
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  padding: 9px 30px;
  margin-right: 10px;
  border-radius: 12px;
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
} 
#slider .slider-button-1:hover{  color: var(--white);}
ol.carousel-indicators li {
  border:2px solid #ffffff;
  background-color: #ffffff;
  margin-right: 18px;
  width: auto;
  height: auto;
  text-indent: 0;
  border-radius: 50%;
  background-clip: unset !important;
  padding: 3px !important;
  opacity: 1;
}
#slider ol.carousel-indicators .active{
  border-radius: 2px;
  background: linear-gradient(90deg, #2fa7eb 0%, #0d25a9 100%);
  border: none;
  width: 25px !important;
}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}
.carousel-fade  .carousel-item.active,.carousel-fade  .carousel-item-next.carousel-item-left,.carousel-fade  .carousel-item-prev.carousel-item-right, #our_services .service_block .service-box:hover .metaimg {  opacity: 1;}
.carousel-fade .active.carousel-item-left,.carousel-fade  .active.carousel-item-right, #our_services .service_block .service-box:hover .thumbnilimg, #our-records .recordbox .our-records-info:hover .recordimg { opacity: 0;}
.carousel-fade  .carousel-item-next,.carousel-fade .carousel-item-prev,.carousel-fade .carousel-item.active,.carousel-fade .active.carousel-item-left,.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
#slider ol.carousel-indicators{
  text-align: center;
  bottom: 9%;
  left: 39px;
  z-index: 1;
  right: 0;
  left: 0;
}
#slider .slide_nav i{
  font-size: 30px;
  color: #000000;
  width: 45px;
  height: 45px;
  font-size: 12px;
  background-color: #c4c3c2;
  border-radius: 50%;
  padding: 16px 15px;
}
#slider .slide_nav i:hover{
  background: linear-gradient(90deg, #2fa7eb 0%, #0d25a9 100%);
  color: #ffffff;
}
#slider ol.carousel-indicators .active:after{
  content: "";
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
}
#slider .slider-button-1,#slider span.video-play-icon i,#slider ol.carousel-indicators .active:after,#portfolio .work-tabs ul li,#testimonial .testimonial-head span:before,#testimonial .testimonial-head span:after{  display: inline-block;}
#our_services .service_block,#testimonials .testimonials-contents .test-text,#slider,#our_services .our-services-head,.recrd_inner,#why_choose_us .why_features,#why_choose_us .rightbx .rightbximg, .portfolio-box, #portfolio_block{  position: relative;}
#vw-record-loop,#vw-blog-loop,#testimonials-loop,#partners-loop,#vw-serives-loop,#vw-portfolio-loop{  display: none;}
#slider .slider-box,#slider ol.carousel-indicators,#our-feature a.feature-button i,#slider ol.carousel-indicators .active:after,#our-team a.team-icon,#testimonial .owl-carousel .owl-dots,#testimonial .testimonials-content p:after{
  position: absolute;
}
#slider ol.carousel-indicators,#our-feature .features-inner,#our-services .feature-button,#testimonial .owl-carousel .owl-dots,.owl-carousel .owl-item img{
  margin: 0 auto;
}
/* --------- Our Services ----------- */
#our_services .service_block .service_leftsvg{
  position: absolute;
  left: 1%;
  top: 22%;
  height: 100px;
  width: 100px;
}
#our_services .services-head{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  position: relative;
}
#our_services .services-head svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#our_services .our-services-head span{
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
}
#our_services .our-services-head h2{
  font:600 34px/32px "Jost";
  color: #ffffff;
}
#our_services .our-services-head p{
  font-size: 14px;
  line-height: 24px;
  color: #e0ecff;
  font-weight: 500;
  font-family: "Jost";
}
#our_services .our-services-head:after{
  clip-path: polygon(0 0, 0 100%, 100% 0);
  content: '';
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: -55px;
  left: 15px;
  background-color: #f6b339;
  z-index: 9;
}
#our_services .imgbx img{  display: inline-block;}
#our_services .service_block{  padding: 100px 0 160px;}
#our_services .service_block .service-box{
  background-color: #ffffff;
  padding: 30px 20px 20px 30px;
  border-bottom: 17px solid #edf0f5;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(46,61,98,0.1);
}
#our_services .service_block .service-box .services-count span{
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -3px;
  color: #edf0f5;
  font-weight: bold;
  font-family: "Jost";
}
#our_services .service_block .service-box .metaimg{
  position: absolute;
  top: -2px;
  left: -4px;
  opacity: 0;
}
#our_services .service_block .service-box .row{  margin: 0;}
#our_services .contentbox{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 100%;
}
#our_services .service_block .service-box h4{  max-width: 68%;}
#our_services .service_block .service-box h4 a{
  font:600 20px/24px "Jost";
  color: #000000;
  letter-spacing: 0;
}
#our_services .service_block .service-box .services-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #7b8391;
  font-family: "Jost";
  max-width: 72%;
}
#our_services .service_block .service-box .readmore{
  font-size: 15px;
  line-height: 32px;
  color: #707175;
  font-weight: 500;
  font-family: "Jost";
  background: linear-gradient(90deg, rgba(225,228,234,1) 53%, rgba(237,240,245,1) 53%);
  padding: 5px 24px;
  border-radius: 4px;
}
#our_services .theme_btn{
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  padding: 10px 30px;
  border-radius: 5px;
}
#our_services .service_block .service-box:hover .readmore{
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  color: #ffffff;
  transition: 0.6s;
}
#our_services .service_block .service-box:hover{
  border-image-source: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  border-image-slice: 1;
  transition: 0.6s;
}
#our_services .owl-carousel .owl-nav{  display: block !important;}
#our_services .owl-carousel .owl-nav i{
  font-size: 30px;
  color: #000000;
  width: 40px;
  height: 40px;
  font-size: 12px;
  background-color: #c4c3c2;
  border-radius: 50%;
  padding: 15px 9px;
}
#our_services .owl-carousel .owl-nav button.owl-prev{  left: -90px;}
#our_services .owl-carousel .owl-nav button.owl-next{  right: -90px;}
#our_services .owl-carousel button:focus{  outline: none;}
#our_services .owl-carousel .owl-nav i:hover{
  background: linear-gradient(90deg, #2fa7eb 0%, #0d25a9 100%);
  color: #ffffff;
}
/* ---------- About Us ------------ */
#about-us{  background-color: #f7f7f7;}
#aboutleft_svg{
  position: absolute;
  top: 0;
  left: -8%;
}
#about-us .container-fluid{
  padding-left: 8% !important;
  position: relative;
}
#about-us .row{  margin-right: 0;}
#about-us .about-img{
  position: relative;
  left: 80px;
}
#about-us .imgbox .aboutimg1{
  position: relative;
  top: -225px;
  margin-bottom: -100px;
}
#about-us .imgbox .aboutimg2{
  position: absolute;
  bottom: 0;
  z-index: 9;
  left: 45%;
  transform: translateX(-50%);
}
#about-us .about-content-box {
  background-color: #ffffff;
  position: relative;
  padding: 100px 0 0 45px;
}
#aboutcircle_shape{
  position: absolute;
  top: -135px;
  left: 35px;
}
#about-us .experiencebox{
  position: absolute;
  top: -60px;
  left: -68px;
  z-index: 9;
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  padding: 20px 40px;
}
#about-us .experiencebox .eximg{
  background-color: #ffffff;
  padding: 15px 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
#about-us .experiencebox h4{
  font-size: 33px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Jost";
}
#about-us .experiencebox .experiText1,#about-us .experiencebox .experiText2{
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
}
#about-us .experiencebox .experiText1{
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
#about-us .experiencebox .eximg img{
  width: 50px;
  height: 50px;
}
#about-us .about-content-box .smalltext {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about-us .innerbox{  max-width: 68%;}
#about-us p {
  font:400 15px/30px "Roboto";
  color: #696969;
}
#about-us .about-content-box h2{
  font: 700 30px/38px "Jost";
  color: #051133;
}
#about-us .about-content-box p{
  font:400 14px/28px "Jost";
  color: #7b8391;
  position: relative;
  padding-left: 15px
}
#about-us .about-content-box p:before{
  content: "";
  width: 1px;
  height: 77%;
  background-image: linear-gradient(0deg, #f9ce44 0%, #ea430f 100%);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
}
#about-us .about-feature{
  border-bottom: 2px solid #e9e9e9;
  border-top: 2px solid #e9e9e9;
  padding: 25px 0 15px !important;
}
#about-us .about-feature img{
  height: 45px;
  width: auto;
  position: relative;
  top: -15px;
}
#about-us .about-feature .feattile{
  font-size: 14px;
  letter-spacing: 0px;
  color: #1d1f22;
  font-weight: 600;
  font-family: "Jost";
  max-width: 62%;
  padding-left: 15px;
}
#about-us .about-feature .feattile,#about-us .about-feature .featimg{  display: inline-block;}
#about-us .about-content-box .aboutBtn{  padding-top: 10px;}
#about-us .about-content-box .themebtn{
  font-size: 13px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  padding: 14px 14px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#about-us .about-content-box .iconbox,#about-us .about-content-box .phonebox, #testimonials .testimonials-contents .innerbx div{  display: inline-block;}
#about-us .about-content-box .iconbox{
  border-radius: 34px;
  background-color: #edf0f5;
  height: 52px;
  width: 52px;
  padding: 17px 19px;
  position: relative;
  top: -7px;
  left: -7px;
}
#about-us .about-content-box .iconbox i{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 19px;
}
#about-us .about-content-box .phonebox .phonetitle{
  font-size: 14px;
  color: #71757b;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
}
#about-us .about-content-box .phonebox h5{
  font-size: 18px;
  color: #031026;
  font-weight: 600;
  font-family: "Jost";
  letter-spacing: 0;
}
#about-us .about-content-box .about_dottedsvg{
  position: absolute;
  right: 0;
  top: -36px;
  transform: rotate(90deg);
  height: 72px;
  width: 200px;
}
/* --------- portfolio ----------- */
#portfolio{
  position: relative;
  padding-bottom: 130px;
}
#portfolio .overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #f9cd43cf 0%, #e9430fcc 100%);
}
#portfolio .mainhead .smallitle{
  font:500 18px/28px 'Shadows Into Light', cursive;
  color: #ffffff;
  display: block;
}
#portfolio .mainhead h2{
  font:600 32px/38px "Jost";
  color: #ffffff;
}
#portfolio .portfolio-text{
  font:400 15px/28px "Jost";
  color: #ffffff;
}
#portfolio .video-content{
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 4px;
  padding: 28px 3px;
}
#portfolio .video-content span{
  background-color: #ffffff;
  padding: 26px 30px;
  border-radius: 4px;
}
#portfolio .video-content span i{
  font-size: 12px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#portfolio .portfolio-feature{  border-top: 2px solid #ffffff17;}
#portfolio .portfolio-feature h5{
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
}
#portfolio .portfolio-feature p{
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
}
#portfolio_block .owl-carousel{
  padding-left: 14%;
  top: -50px;
  left: 0;
}
#portfolio_block .owl-stage-outer{  border-bottom: 2px solid #e9e9e9;}
#portfolio_block .owl-carousel .owl-stage-outer{  padding-bottom: 80px;}
#portfolio_block svg{
  position: absolute;
  top: 1px;
  left: -165px;
  transform: rotate(270deg);
  height: 80%;
}
.portfolio-box .box-content,.portfolio-box img {  transition: all 0.35s ease 0s;}
.portfolio-box img {
  width: 100%;
  height: auto;
}
.portfolio-box .box-content {
  background: linear-gradient(90deg, #2fa5eb94 0%, #0d25a9a6 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  padding: 0 20px;
  border-radius: 2px;
}
.portfolio-box:hover .box-content {
  opacity: 1;
  transition: 0.6s;
  box-shadow: 0 3px 20px #8c8888;
}
.portfolio-box .title {
  font-weight: 700;
  color: #fff;
  line-height: 17px;
  margin: 5px 0;
  position: absolute;
  bottom: 55%;
}
.portfolio-box .small_title{
  font:400 16px/18px 'Shadows Into Light', cursive;
  color: #ffffff;
  display: block;
}
.portfolio-box h4 a{
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 600;
  font-family: "Jost";
}
.box-content .readmore i{
  background-color: #ffffff;
  padding: 15px 18px;
  border-radius: 32px;
  font-size: 12px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.portfolio-box .title_box{
  position: absolute;
  bottom: 30px;
}
#portfolio_block .owl-carousel .owl-dots{
  padding: 0;
  position: absolute;
  right: 22%;
  bottom: 8%;
}
#portfolio_block .owl-carousel .owl-dots button{
  width: 10px;
  height: 10px;
  background-color: #e5e6e8 !important;
}
#portfolio_block .owl-carousel .owl-dot.active{  background-color: #ed611b !important;}
/*-------- Why Choose Us -------*/
#why_choose_us{
  overflow: hidden;
  position: relative;
  top: -80px;
  z-index: 9;
}
#why_choose_us .mainhead span{
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#why_choose_us .mainhead h2{
  font-size: 32px;
  line-height: 36px;
  color: #000000;
  font-family: "Jost";
  font-weight: 700;
}
#why_choose_us .why_features h4{
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 34px;
  color: #031026;
  font-weight: 600;
  font-family: "Jost";
}
#why_choose_us .why_features p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #7b8391;
  font-family: "Jost";
  max-width: 90%;
}
#why_choose_us .why_features:before {
  content: "";
  width: 2px;
  height: 85%;
  background-image: linear-gradient(0deg, #f9cd43 0%, #e9430f 100%);
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: -3px;
}
#why_choose_us .circle_box_inner h5{
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
}
#why_choose_us .circle_box_inner .why_gaurantee{
  font-weight: 800;
  font-size: 20px;
} 
#why_choose_us .rightbx .circle_box{
  position: absolute;
  right: -160px;
  top: 55px;
}
#why_choose_us .rightbx .circle_box_inner{
  position: absolute;
  top: 0;
  text-align: center;
  padding: 50px 0px 0px 31px;
  max-width: 194px;
}
#why_choose_us .rightbx:before{
  content: "";
  width: 10px;
  height: 75.5%;
  background-image: linear-gradient(328deg, #2fa5eb 100%, #0d25a9 55%);
  position: absolute;
  bottom: 0;
  left: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#why_choose_us .rightbx:after{
  content: "";
  width: 96%;
  height: 10px;
  background-image: linear-gradient(328deg, #0d25a9 0%, #2fa5eb 100%);
  position: absolute;
  bottom: 0;
  left: 5px;
  border-bottom-left-radius: 3px;
}
/* --------- Our record ----------- */
#our-records{
  margin-top: 13%;
  position: relative;
}
#our-records:before{
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  position: absolute;
  top: 0;
  left: 0;
}
.recordbox{
  position: relative;
  top: -165px;
  margin-bottom: -90px;
}
#our-records .record_head h2{
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Jost";
  max-width: 68%;
  margin: 0 auto;
}
#our-records .record_head a{
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
  display: inline-block;
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  padding: 10px 30px;
  border-radius: 5px;
}
#our-records .owl-carousel .owl-stage{
  border-radius: 4px;
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
}
#our-records .owl-carousel .owl-stage-outer{  padding-top: 75px;}
#our-records .record-images{
  position: relative;
  top: -55px;
}
#our-records .recordbox .our-records-info:hover .record-images{
  top: -70px;
  transition: 1.5s;
}
#our-records .recordbox .our-records-info .record-images img{
  border-radius: 4px;
  filter: drop-shadow(0 0 15px rgba(0,0,0,0.1));
  background-color: #ffffff;
  display: inline-block;
  padding: 15px;
  margin: 0 auto;
}
#our-records .recordbox .our-records-info .recrd_inner:before{
  content: "";
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: -25px;
  border-radius: 50%;
}
#our-records .recordbox .our-records-info:hover .recrd_inner:before{  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);}
#our-records .recordbox .our-records-info:hover .record-images img{
  border-radius: 4px;
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
}
#our-records .our-records-info span {
  font-size: 30px;
  line-height: 31px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Jost";
  text-align: center;
}
#our-records .our-records-info .record_title{
  font:500 13px/26px "Jost";
  color: #ffffff;
  display: inline-block;
}
#our-records .recordbox .our-records-info .recordimg{  opacity: 1;}
#our-records .recordbox .our-records-info .recordhoverimg{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#our-records .recordbox .our-records-info:hover .recordhoverimg{
  opacity: 1;
  transition: 1s;
}
/* ---------- Feature ------------ */
#our-feature{
  background-color: #edf0f5;
  position: relative;
}
#our-feature .row{  margin-right: 0;}
#our-feature .rightbox{
  position: relative;
  z-index: 9;
}
#our-feature .rightbox .small_title{
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#our-feature .rightbox h2{
  font:700 30px/38px "Jost";
  color: #000000;
  letter-spacing: 0;
  max-width: 66%;
}
#our-feature p{
  font:400 14px/26px "Jost";
  color: #7b8391;
}
#our-feature .features-list-box p{
  font:500 14px/15px "Jost";
  color: #7b8391;
  display: flex;
  padding-left: 11px;
}
#our-feature .features-list-box p i{
  font-size: 8px;
  color: #ffffff;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  height: 14px;
  width: 14px;
  padding: 3px;
  border-radius: 4px;
  position: relative;left: -10px;
}
#our-feature:before{
  content: '';
  width: 34%;
  height: 110%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  border-right: 5px solid #fff;
}
#our-feature .rightbox .small_title{
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#our-feature .ProgressBar-percentage{
  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
   font-family:  "Jost";
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
  position: absolute;
  top: 60px;
  left: 50px;
}
#our-feature .progresstitle{
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #031026;
  font-weight: 600;
  font-family: "Jost";
  position: absolute;
  top: 57px;
  right: 0;
  max-width: 100px;
}
#our-feature .ProgressBar-contentCircle {
  height: 153px;
  width: 151px;
  position: relative;
  left: -28px;
  top: -25px;
}
#our-feature .ProgressBar-circle,#our-feature .ProgressBar-background {
  fill: none;
  stroke-width: 2;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}
#our-feature .ProgressBar-background {
  stroke: #ffffff;
  stroke-width: 2;
  z-index: 0;
}
#our-feature .bottom_txt{
  background-color: #ffffff;
  position: absolute;
  bottom: -109px;
  box-shadow: 0px 9px 25px #e4e4e4;
}
#our-feature .bottom_txt p{
  font-size: 16px;
  line-height: 20px;
  color: #7b8391;
  font-weight: 500;
  font-family: "Rajdhani";
}
#our-feature .bottom_txt span{
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-weight: 600;
  font-family: "Rajdhani";
}
#our-feature .bottom_txt a{
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Jost";
  border-radius: 4px;
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  display: inline-block;
  padding: 10px 16px;
  margin-top: 14px;
}
#our-feature .bottom_txt a span{
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
}
#our-feature .leftbox img,#our-feature .leftbox, #progress_enquiry{  position: relative;}
#our-feature .leftbox .image_text{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #000000;
  font-weight: 600;
  font-family: "Jost";
  background-color: #ffffff;
  display: inline-block;
  padding: 14px 60px;
  position: absolute;
  top: 44%;
  left: -203px;
  transform: rotate(-90deg);
  border-radius: 2px;
}
#feature_triangle_shape{
  position: absolute;
  top: -14px;
  left: -151px;
  width: 368px;
  height: 448px;
}
#feature_dotted_shape{
  position: absolute;
  bottom: -41px;
  left: -171px;
}
#feature_rightcurve{
  position: absolute;
  top: 0;
  right: 0;
  height: 315px;
  width: 315px;
}
/*--------- Testimonials -------*/
#testimonials {  padding: 13% 0 5%;}
#testimonials .header_box span{
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0;
}
#testimonials .header_box h2{
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost";
  line-height: 30px;
}
#testimonials .testimonials-contents{
  border-radius: 4px;
  filter: drop-shadow(0 0 15px rgba(0,0,0,0.1));
  background-color: #ffffff;
  padding: 40px 55px 40px 60px;
}
#testimonials .testimonials-contents .test-text{
  font-size: 14px;
  line-height: 26px;
  color: #7b8391;
  font-weight: 500;
  font-family: "Jost";
  word-spacing: 3px;
}
#testimonials .testimonials-contents .titleBox a{
  font-size: 16px;
  line-height: 14px;
  font-weight: 600;
  font-family: "Rajdhani";
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
}
#testimonials .testimonials-contents .client-desig{
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-family: "Rajdhani";
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
}
#testimonials .testimonials-contents .innerbx .titleBox{
  position: relative;
  top: -12px;
}
#testimonials .owl-carousel .owl-stage-outer{  padding: 40px 0 90px;}
#testimonials .testimonials-contents:after{
  content: "";
  width: 40px;
  height: 50px;
  background-color: #ffffff;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  bottom: -49px;
  left: 0;
}
#testimonials .testimonials-contents .test-text:before{
  content: "";
  width: 2px;
  height: 94%;
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  position: absolute;
  top: 6px;
  left: -18px;
}
#testimonials .testimonials-contents:hover{
  background: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  transition: 0.7s;
}
#testimonials .testimonials-contents:hover:after{
  background-color: #f8c441;
}
#testimonials .testimonials-contents:hover .test-text,#testimonials .testimonials-contents:hover .titleBox a,#testimonials .testimonials-contents:hover .client-desig{
  color: #ffffff;
  -webkit-background-clip: unset;
  background: unset;
  -webkit-text-fill-color: unset;
  transition: 0.7s;
}
#testimonials .testimonials-contents:hover .test-text:before{  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);}
#testimonials .owl-carousel .owl-dots button{  border: 2px solid #7c8492;}
#testimonials .owl-carousel .owl-dot.active {
    background-color: #ed611b !important;
    border-color: #ed611b !important;
}
/*----- Discover More -----*/
#discoverMore{
  background-image: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  position: relative;
}
#discoverMore svg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#discoverMore h2{
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Jost";
}
#discoverMore .themebtn{
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 23px;
}
/* -------- Our Blogs ------------ */
#our-blog .our-blog-head{
  background-color: #edf0f5;
  padding-bottom: 18%;
}
#our-blog .owl-carousel.owl-loaded{
  position: relative;
  top: -236px;
  margin-bottom: -250px;
}
#our-blog .our-blog-head span{
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#our-blog .our-blog-head h2 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Jost";
  line-height: 42px;
}
#our-blog .date-bx{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Rajdhani";
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
#our-blog .blog-text-box {
  position: relative;
  top: -55px;
  margin: 0 15px;
}
#our-blog .content-box {
  background-color: #ffffff;
  padding: 22px 30px 30px;
}
#our-blog .blogs-meta span i{
  color: #5e94e5;
}
#our-blog .blogs-meta span,#our-blog .blogs-meta span a{
  font-size: 13px;
  line-height: 13px;
  color: #838b98;
  font-weight: 600;
  font-family: "Rajdhani";
  text-align: center;
  text-transform: uppercase;
}
#our-blog .blog-text-box h3 a{
  font:600 20px/22px "Jost";
  letter-spacing: 0px;
  color: #031026;
}
#our-blog .blog-text-box h3{
  padding-top: 8px;
  line-height: 24px;
}
#our-blog .blog-text-box .services-text{
  font-size: 14px;
  line-height: 26px;
  color: #7b8391;
  font-weight: 500;
  font-family: "Rajdhani";
  text-align: center;
  border-bottom: 1px solid #d9dfe9;
}
#our-blog .blog-text-box .readmore{
  font:500 13px/14px "Jost";
  letter-spacing: 0px;
  color: #7b8391;
  position: relative;
}
#our-blog .blog-text-box .readmore i{
  color: #7b8391;
  font-size: 16px;
  position: relative;
  top: 1px;
  left: 2px;
}
#our-blog .our-blog-contents:hover .content-box{
  box-shadow: 0px 15px 20px #eeeeee;
  transition: 1.5s;
}
#our-blog .our-blog-contents:hover .date-bx{
  margin-left: 10px;
  transition: 0.7s;
}
#our-blog .our-blog-contents .content-box .readmore:hover,#our-blog .our-blog-contents .content-box .readmore:hover i{  color: #1735b1;}
#our-blog .owl-carousel .owl-dots button{  border: 2px solid #7c8492 !important;}
#our-blog .owl-carousel .owl-dot.active {
  background-color: #ed611b !important;
  border-color: #ed611b !important;
}
/*--------- Progress Bar --------*/
.progress-overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #031026;
}
#progress_enquiry .mainhead .small-title{
  font:400 18px/32px "Jost";
  background: linear-gradient(229deg, rgba(67,130,248,1) 3%, rgba(100,13,221,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#progress_enquiry h2{
  font:700 32px/40px "Jost";
  letter-spacing: -1px;
  color: #ffffff;
  max-width: 90%;
}
#progress_enquiry p {
  font:400 14px/24px "Jost";
  color: #ffffff;
  max-width: 84%;
}
#progress_enquiry .progress-feat .progress_features span{
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
}
#progress_enquiry .img-block img{
  height: 100%;
  width: 100%;
}
#progress_enquiry .progress-feat .progress_features i{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 6px;
  position: relative;
  top: 2px;
}
#progress_enquiry .themebtn{
  font-size: 14px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Jost";
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
}
.progress_wraper .icon_box{
  position: relative;
  top: 15px;
}
.progress_wraper .icon_box i{
  width: 40px;
  height: 40px;
  border-radius: 23px;
  background-color: #ed5f1a;
  color: #ffffff;
  padding: 13px 12px;
}
.progress_wraper .icon_box i.fas.fa-bolt{  padding: 15px 16px;}
.progress-bar h4{
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
  position: absolute;
  left: 0;
  top: -31px;
}
.progress-bar {
  height: 13px;
  width: 89%;
  background-color: #ffffff !important;
  border-radius: 20px;
  box-shadow: 2px 0 10px inset rgba(0,0,0,0.2);
  position: relative;
  left: 50px;
}
.bar {
  width: 0;
  height: 100%;
  background-color: #ed5f1a; 
  background-size: 30px 30px;
  animation: move 3s linear infinite;
  box-shadow: 3px 0 10px inset rgba(0,0,0,0.2);
  transition: width 3s ease-out;
  border-radius: 30px;
}
@keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}
.perc {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: -15px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Jost";
}
.progress_wraper{  padding: 5px 0;}
/* ---------- Pricing Plan ----------- */ 
#pricing-plan .pricing-plan-head span{
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(90deg, #2fa5eb 0%, #0d25a9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 1px 27px rgba(47,84,238,0.46));
  letter-spacing: 0;
}
#pricing-plan h2{
  font:600 32px/32px "Jost";
  letter-spacing: 0;
  color: #2f2f2f;
}
#pricing-plan .pricing_box{
  position: relative;
  padding: 60px 0 40px; 
  overflow: hidden !important;
}
#pricing-plan .pricing_box ul{
  list-style: none;
  padding-left: 35px;
}
#pricing-plan .pricing-tab ul li{
  display: inline-block;
}
#pricing-plan .pricing_box ul li{
  font:500 14px/24px "Jost";
  color: #030303;
  padding: 4px 0;
}
#pricing-plan .pricing_box ul li i{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  color: #ffffff;
  font-size: 8px;
  padding: 2px;
  border-radius: 14px;
  margin-right: 5px;
}
#pricing-plan .pricing_box .plan-small-title{
  font:600 12px/18px "Jost";
  color: #ffffff;
  position: absolute;
  top: 19px;
  right: -24px;
  background: linear-gradient(90deg, #30a6eb 0%, #0d25a9 100%);
  padding: 1px 12px;
  transform: rotate(45deg);
  width: 110px;
  text-align: center;
}
#pricing-plan .pricing_box h5{
  font:700 25px/28px "Jost";
  color: #030303;
  letter-spacing: 0;
}
#pricing-plan .pricing_box .plan-text{
  font:500 14px/18px "Jost";
  color: #030303;
  margin-bottom: 18px;
}
#pricing-plan .pricing_box sup{
  font: 600 12px/18px "Jost";
  letter-spacing: 0;
  color: #030303;
  position: relative;
  top: -17px;
  left: -2px;
}
#pricing-plan .pricing_box h3{
  font:700 36px/46px "Jost";
  letter-spacing: -1px;
  color: #030303;
}
#pricing-plan .pricing_box .price_sufix{
  display: inline-block;
  position: relative;
  top: -12px;
  left: -8px;
}
#pricing-plan .pricing_box .price_sufix span{
  font:600 22px/24px "Jost";
  letter-spacing: -1px;
  color: #030303;
}
#pricing-plan .pricing_box .imgbx,#pricing-plan .pricing_box .imgbx img{
  position: relative;
  z-index: 1;
}
#pricing-plan .pricing_box .imgbx:before{
  content: "";
  position: absolute;
  top: 39px;
  left: -6px;
  width: 105%;
  height: 78%;
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  z-index: 0;
  transform: rotate(-2deg);
}
#pricing-plan .themebtn{
  font-size: 13px;
  line-height: 25px;
  color: #030303;
  font-weight: 600;
  font-family: "Jost";
  border:1px solid #030303;
  padding: 8px 21px;
  border-radius: 31px;
}
#pricing-plan .pricing_box:hover{
  box-shadow: 0px 15px 20px #eeeeee;
  transition: 1.5s;
}
#pricing-plan .pricing_box:hover .themebtn{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  color: #ffffff;
  border: none;
  transition: 0.5s;
}
#pricing-plan .pricing_box:hover .plan-small-title{
  background-image: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
  transition: 0.3s;
}
#our-partners .partner-images img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#our-partners .partner-images img:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  cursor: pointer;
}
#our-partners .owl-carousel .owl-item img {
  height: 55px;
  width: 85px !important;
}
/* ----------- Background Attachment ------------ */
.section_bg_scroll{  background-attachment: scroll;}
.section_bg_fixed{  background-attachment: fixed !important;}
/* ---------- Button Animation ---------- */
/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {-webkit-transform: translateX(8px);transform: translateX(8px);}
  33.3% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
  49.95% {-webkit-transform: translateX(4px);transform: translateX(4px);}
  66.6% {-webkit-transform: translateX(-2px);transform: translateX(-2px);}
  83.25% {-webkit-transform: translateX(1px);transform: translateX(1px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
@keyframes hvr-wobble-horizontal {
  16.65% {-webkit-transform: translateX(8px);transform: translateX(8px);}
  33.3% {-webkit-transform: translateX(-6px);transform: translateX(-6px);}
  49.95% {-webkit-transform: translateX(4px);transform: translateX(4px);}
  66.6% {-webkit-transform: translateX(-2px);transform: translateX(-2px);}
  83.25% {-webkit-transform: translateX(1px);transform: translateX(1px);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* ------------Sweep To Right ------------- */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover:before,.hvr-sweep-to-right:focus:before,.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.vw-hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.vw-hvr-shrink:hover, .vw-hvr-shrink:focus, .vw-hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/*-------------- Owl crousel ---------------*/
.owl-carousel .owl-dots{  display: block;}
.owl-carousel .owl-dots{
  text-align: center;
  padding-top: 30px;
}
.owl-carousel .owl-dots button{
  width: 10px;
  height: 10px;
  background-color: #ffffff !important;
  border-radius: 30px;
  margin: 0 5px;
  outline: none;
}
.owl-carousel .owl-dot.active {    background-color: #ed611b !important;}
.owl-carousel .owl-item img {  width: auto !important;}
button.owl-next, button.owl-prev {  background: var(--black3);}
button.owl-prev,button.owl-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px 20px;
  outline: none;
}
button.owl-prev {  left: 0px;}
button.owl-next {  right: 0px;}
button.owl-next i, button.owl-prev i{  color: var(--white);}
.owl-carousel .owl-nav i{
  color: var(--black);
  font-size: 20px;
}