:root {
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
}
/*-------------- media section ---------------*/
@media screen and (max-width:474px){
 #topbar .mailadd,#topbar .social-icon,#topbar .top-button{    padding: 6px 0 !important;  }
  #topbar .mailadd,#slider .slider-box,#footer,.copyright,#our-feature .leftbox .image_text,.copyright .social-icon,#footer ul li,#footer .about_me p,#pricing-plan .pricing_box ul li,#progress_enquiry .progress_features,#progress_enquiry .butnbox,#progress_enquiry p,#progress_enquiry h2,#discoverMore h2,#discoverMore .dicBtn,#our-feature .rightbox,#why_choose_us .mainhead,#portfolio .mainhead,#portfolio .portfolio-feature,#portfolio .portfolio-text,#about-us .about-content-box,#about-us .about-img,#our_services .services-count,#our_services .our-services-head,#our_services .service_block .service-box{
    text-align: center !important;
  }
  #our_services .service_block .service-box h4,#footer .footerbtn,#footer h3,#discoverMore .dicBtn,#footer .about_me i,.widget_nav_menu,#pricing-plan .row,#our-feature .row,#portfolio .row,#our_services .sec_secbtn,#about-us .imgbox .aboutimg1{
    margin: 0 !important;
  }
  #slider .slider_head,#footer,#footer .recent-post-box,#footer .recent-post-box p,#testimonials .container,#testimonials .owl-carousel .owl-dots,#pricing-plan .pricing_box ul,#our-partners,#our-blog .owl-carousel .owl-dots,#about-us .about-content-box h2,#footer .about_me p, #footer .about_me .dempar,#pricing-plan .container,#progress_enquiry,#our-feature .rightbox h2,#our-feature p,#our-feature .leftbox,#our-feature .rightbox,#our-feature,#why_choose_us .mainhead,#our-records,#why_choose_us .why_features p,#slider .slider-box h1,#portfolio .portfolio_rightcon,#about-us .about-content-box p,#about-us .about-content-box .aboutfeat-info,#about-us .container-fluid,#about-us .aboutconbox,#about-us .about-content-box p:before{
    padding: 0 !important;
  }
  #our_services .services-head,.img-block,#footer h3,#our-feature .progress_bar,#our-feature .rightbox,#about-us .imgbox .aboutimg2,#our_services .sec_secbtn,#our_services .service_block,#our_services .service_block .service-box h4{    padding: 20px 0 !important;  }
  #about-us .about-content-box{    padding: 0 15px 0 30px;  }
  #why_choose_us .mainhead h2,#our_services .service_headin,.copyright p,#our-blog .container,#portfolio_block .owl-carousel{    padding: 0 15px !important;  }
  #header .innermenubox.sticky {    padding: 4px 0px 1px;  }
  #testimonials {    padding-top: 144px;  }
  #slider .slider-box p,#discoverMore svg,#portfolio_block svg,#feature_triangle_shape,.feature_right_shape,#feature_dotted_shape,#our-feature:before,#feature_rightcurve,#why_choose_us .rightbx:after,#why_choose_us .rightbx:before,#why_choose_us .circle_box svg,#about-us .about-content-box p:before,#aboutcircle_shape,.about_circleshape,#about-us .about-content-box .about_dottedsvg,#aboutleft_svg,.slider_head:before,#our_services .our-services-head:after,#our_services .services-head svg{
    display: none;
  }
  #slider .slider-box span,#our-feature .leftbox .image_text{    font-size: 11px;  }
  #slider .carousel-prev-button{
    left: 5px;
    top: 60%;
  }
  #topbar .address_box,#portfolio_block .owl-stage-outer{    border: none;  }
  #slider .carousel-next-button{
    right: 11px;
    top: 60%;
  }
  #our_services .owl-carousel .owl-nav button.owl-prev{    left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #slider .slider-button-1,#why_choose_us .why_features{
    padding: 2px 10px !important;
    border-radius: 3px;
  }
  #slider .slide_nav i{
    width: 25px;
    height: 25px;
    padding: 7px 5px; 
  }
  #header .menubar-box,#about-us .innerbox,#our_services .our-services-head p,#footer .recent-post-box p{    margin-top: 10px !important;  }
   #slider .carousel-caption{    top: 0;  }
  #slider .slider-box {
    width: 100%;
    left: 0;
    top: 47%;
    transform: translateY(-50%);
  }
  #slider .slider-box h1,#slider .slider-box h1 .last_slide_head{
    font-size: 18px;
    line-height: 24px;
    max-width: 80%;
    margin: 3px auto 6px;
  }
  #slider ol.carousel-indicators{    bottom: 5%;  }
  #about-us .imgbox .aboutimg2,#our-feature .progresstitle,#about-us .imgbox .aboutimg1,#why_choose_us .rightbx .circle_box_inner,#why_choose_us .rightbx .circle_box,#about-us .about-img,#about-us .experiencebox{
    position: unset;
    transform: unset;
  }
  #our_services .our-services-head h2,#our-blog .our-blog-head h2,#pricing-plan h2,#progress_enquiry h2,#discoverMore h2,#testimonials .header_box h2,#our-feature .rightbox h2,#our-records .our-records-info span,#our-records .record_head h2,#why_choose_us .mainhead h2,#portfolio .mainhead h2,#about-us .experiencebox h4,#about-us .about-content-box h2{
    font-size: 22px;
    line-height: 30px;
  }
  #our_services .our-services-head p,#our-feature .features-list-box p,#our_services .service_block .service-box .services-text,#slider .slider-button-1,#our-blog .blog-text-box .services-text,#our-feature p,#our-records .our-records-info .record_title,#portfolio .portfolio-text,#why_choose_us .why_features p,#about-us .experiencebox .experiText1,#about-us .about-content-box p{
    font-size: 12px;
    line-height: 20px;
  }
  #our_services .service_block .service-box h4 a,#our-blog .our-blog-head span,#portfolio .portfolio-feature h5,#about-us .about-content-box .smalltext{
    font-size: 18px;
    line-height: 22px;
  }
  #our-feature .bottom_txt p{
    font-size: 14px;
    line-height: 15px;
  }
  #our_services .service_block .service-box{    padding-right: 30px;  }
  #our_services .thumbnilimg{    display: inline-block;  }
  #our_services .service_block .service-box .metaimg{
    left: -15px;
    right: 0;
    top: 0;
  }
  #our_services .service_block .service-box h4,#about-us .about-feature .feattile,#progress_enquiry h2,#progress_enquiry p,#our-feature .progresstitle,#our-feature .rightbox h2,#our-records .record_head h2,#why_choose_us .rightbx .circle_box_inner,#about-us .innerbox,#why_choose_us .why_features p{
    max-width: 100%;
  }
  #about-us .experiencebox h4{    line-height: 18px;  }
  #about-us .experiencebox .experiText2{
    font-size: 11px;
    line-height: 6px;
  }
  #about-us .about-feature .feattile, #about-us .about-feature .featimg,#our-feature .features-list-box p,#our-feature .features-list-box p i  {
    display: block;
    margin: 5px auto;
  }
  #about-us .about-feature img{
    height: auto;
    top: 0;
  }
  #pricing-plan .pricing_box,#about-us .about-content-box .themebtn{    margin: 0 auto 20px;  }
  #about-us .about-content-box .themebtn{
    display: inline-block;
    border-radius: 0;
  }
  .portfolio-box .box-content{    padding: 0 20px;  }
  #portfolio{    padding-bottom: 50px;  }
  #why_choose_us .rightbx .circle_box_inner{
    padding: 20px 0;
    background: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
    margin: 15px 0 40px;
  }
  #our-records .recordbox{    margin-bottom: -145px;  }
  #our-feature .leftbox .image_text{
    bottom: 0;
    top: unset;
    left: 49.9%;
    transform: translateX(-50%);
    width: 100.5%;
  }
  #why_choose_us .circle_box_inner .why_gaurantee,#footer .about_me p, #footer .about_me .dempar{    display: block;  }
  #our-feature .ProgressBar{
    max-width: 225px;
    margin: 0 auto;
  }
  #our-feature .ProgressBar-percentage{
    left: 85px;
    top: 66px;
  }
  #our-feature .progresstitle{    margin-top: -15px;  }
  #our-blog .content-box {    padding: 22px 15px 30px;  }
  #pricing-plan .pricing_box .imgbx:before{
    width: 290px;
    height: 148px;
    left: unset;
  }
  #pricing-plan .pricing_box .imgbx img{
    width: 289px;
    height: 194px;
    left: unset;
  }
  #footer hr,.copyright .social-icon,#footer .recent-post-box .post-thumb{    margin: 10px 0 0;  }
  #progress_enquiry .progress-bar{    max-width: 81%;  }
  #our_services .theme_btn,#progress_enquiry .themebtn,#discoverMore .themebtn,#our-feature .bottom_txt a,#about-us .about-content-box .themebtn,#our-records .record_head a{
    padding: 6px 14px;
  }
  #our-feature .leftbox .image_text{    padding: 15px;  }
  #testimonials .testimonials-contents{    padding: 20px 20px 25px 40px;  }
  #our-blog .our-blog-head{    padding-bottom: 250px;  }
  #footer .footer-cols{    padding-bottom: 10px !important;  }
  #portfolio_block .owl-carousel .owl-dots{
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 475px) and (max-width:575px){
  #topbar .mailadd,#topbar .social-icon,#topbar .top-button{    padding: 6px 0 !important;  }
  #topbar .mailadd,#slider .slider-box,#footer,.copyright,.copyright .social-icon,#footer ul li,#footer .about_me p,#pricing-plan .pricing_box ul li,#progress_enquiry .progress_features,#progress_enquiry .butnbox,#progress_enquiry p,#progress_enquiry h2,#discoverMore h2,#discoverMore .dicBtn,#our-feature .rightbox,#why_choose_us .mainhead,#portfolio .mainhead,#portfolio .portfolio-feature,#portfolio .portfolio-text,#about-us .about-content-box,#about-us .about-img,#our_services .services-count,#our_services .our-services-head,#our_services .service_block .service-box{
    text-align: center !important;
  }
  #our_services .service_block .service-box h4,#footer h3,#footer .footerbtn,#footer .about_me i,.widget_nav_menu,#pricing-plan .row,#our-feature .row,#portfolio .row,#our_services .sec_secbtn,#about-us .imgbox .aboutimg1{
    margin: 0 !important;
  }
  #slider .slider_head,#footer,#footer .recent-post-box,#footer .recent-post-box p,#our-blog .owl-carousel .owl-dots,#footer .about_me p, #footer .about_me .dempar,#pricing-plan .container,#progress_enquiry,#our-feature .rightbox h2,#our-feature p,#our-feature .leftbox,#our-feature .rightbox,#our-feature,#why_choose_us .mainhead,#our-records,#why_choose_us .why_features p,#slider .slider-box h1,#portfolio .portfolio_rightcon,#about-us .about-content-box p,#about-us .about-content-box .aboutfeat-info,#about-us .container-fluid,#about-us .aboutconbox,#about-us .about-content-box p:before{
    padding: 0 !important;
  }
  #our_services .services-head,.img-block,#footer h3,#our-feature .progress_bar,#our-feature .rightbox,#about-us .imgbox .aboutimg2,#our_services .sec_secbtn,#our_services .service_block,#our_services .service_block .service-box h4{
    padding: 20px 0 !important;
  }
  #about-us .about-content-box{    padding: 0 15px 0 30px;  }
  #why_choose_us .mainhead h2,#our_services .service_headin{    padding: 0 15px !important;  }
  #slider .slider-box p,#discoverMore svg,#portfolio_block svg,#feature_triangle_shape,.feature_right_shape,#feature_dotted_shape,#our-feature:before,#feature_rightcurve,#why_choose_us .rightbx:after,#why_choose_us .rightbx:before,#why_choose_us .circle_box svg,#about-us .about-content-box p:before,#aboutcircle_shape,.about_circleshape,#about-us .about-content-box .about_dottedsvg,#aboutleft_svg,.slider_head:before,#our_services .our-services-head:after,#our_services .services-head svg{
    display: none;
  }
  #slider .carousel-prev-button{
    left: 8px;
    top: 60%;
  }
  #slider .carousel-next-button{
    right: 35px;
    top: 60%;
  }
  #our_services .owl-carousel .owl-nav button.owl-prev{    left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #slider .slider-button-1,#why_choose_us .why_features{
    padding: 2px 12px !important;
    border-radius: 6px;
  }
  #header .menubar-box,#about-us .innerbox{    margin-top: 10px;  }
   #slider .carousel-caption{    top: 0;  }
  #slider .slider-box {
    width: 100%;
    left: 0;
    top: 47%;
    transform: translateY(-50%);
  }
  #slider .slider-box h1,#slider .slider-box h1 .last_slide_head{
    font-size: 22px;
    line-height: 32px;
    max-width: 100%;
  }
  #about-us .imgbox .aboutimg2,#our-feature .progresstitle,#about-us .imgbox .aboutimg1,#why_choose_us .rightbx .circle_box_inner,#why_choose_us .rightbx .circle_box,#about-us .about-img,#about-us .experiencebox{
    position: unset;
    transform: unset;
  }
  #our_services .our-services-head h2,#our-blog .our-blog-head h2,#pricing-plan h2,#progress_enquiry h2,#discoverMore h2,#testimonials .header_box h2,#our-feature .rightbox h2,#our-records .our-records-info span,#our-records .record_head h2,#why_choose_us .mainhead h2,#portfolio .mainhead h2,#about-us .experiencebox h4,#about-us .about-content-box h2{
    font-size: 24px;
    line-height: 30px;
  }
  #our_services .our-services-head p,#our-blog .blog-text-box .services-text,#our-feature p,#our-records .our-records-info .record_title,#portfolio .portfolio-text,#why_choose_us .why_features p,#about-us .experiencebox .experiText1,#about-us .about-content-box p{
    font-size: 13px;
    line-height: 20px;
  }
  #our_services .service_block .service-box{    padding-right: 30px;  }
  #our_services .thumbnilimg{    display: inline-block;  }
  #our_services .service_block .service-box .metaimg{
    left: -15px;
    right: 0;
    top: 0;
  }
  #our_services .service_block .service-box h4,#progress_enquiry h2,#progress_enquiry p,#our-feature .progresstitle,#our-feature .rightbox h2,#our-records .record_head h2,#why_choose_us .rightbx .circle_box_inner,#about-us .innerbox,#why_choose_us .why_features p{    max-width: 100%;  }
  #about-us .experiencebox h4{    line-height: 18px;  }
  #about-us .experiencebox .experiText2{
    font-size: 11px;
    line-height: 6px;
  }
  #about-us .about-feature .feattile, #about-us .about-feature .featimg,#our-feature .features-list-box p,#our-feature .features-list-box p i  {
    display: block;
    margin: 5px auto;
  }
  #about-us .about-feature img{
    height: auto;
    top: 0;
  }
  #about-us .about-content-box .themebtn{
    display: inline-block;
    margin: 0 auto 20px;
    border-radius: 0;
  }
  .portfolio-box .box-content{
    margin: 0 20px;
    padding: 0 20px;
  }
  #portfolio{    padding-bottom: 50px;  }
  #why_choose_us .rightbx .circle_box_inner{
    padding: 20px 0;
    background: linear-gradient(90deg, #f9cd43 0%, #e9430f 100%);
    margin: 15px 0 40px;
  }
  #our-records .recordbox{    margin-bottom: -145px;  }
  #our-feature .leftbox .image_text{
    bottom: 0;
    top: unset;
    left: 49.9%;
    transform: translateX(-50%);
    width: 100.5%;
    text-align: center;
  }
  #why_choose_us .circle_box_inner .why_gaurantee,#footer .about_me p, #footer .about_me .dempar{    display: block;  }
  #our-feature .ProgressBar{
    max-width: 145px;
    margin: 0 auto;
  }
  #our-feature .progresstitle{    margin-top: -15px;  }
  #testimonials{    padding-top: 27%;  }
  #our-blog .blog-text-box{
    max-width: 81.7%;
    margin: 0 auto;
  }
  #pricing-plan .pricing_box .imgbx:before{
    width: 375px;
    height: 204px;
    left: unset;
  }
  #footer hr,#footer .recent-post-box p{    margin: 10px 0 0;  }
  #header .innermenubox.sticky,.copyright p{    padding: 10px 0px !important;  }
  #portfolio_block .owl-stage-outer{    border: none;  }
}
@media screen and (min-width:576px)  and (max-width:767px){
  #topbar .social-icon,#pricing-plan .container,#our-partners,#slider .slider-box h1,#our-blog .our-blog-head .container,#about-us,#about-us .container-fluid,#our_services .sec_secbtn{
    padding: 0 !important;
  }
  #slider .slider-box h1,#slider .slider-box p,#pricing-plan #pricingtab .row{
    margin: 0 !important;
  }
  #our_services .services-head svg,#discoverMore svg,#why_choose_us .why_features:before,#about-us .about-content-box p:before,.about_circleshape,#about-us .about-content-box .about_dottedsvg,#our_services .our-services-head:after,#aboutleft_svg{
    display: none;
  }
  #why_choose_us .mainhead{    text-align: center;  }
  #our_services .owl-carousel .owl-nav button.owl-prev{    left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #about-us .about-content-box .themebtn{    line-height: 57px;  }
  #topbar .address_box{    border: none;  }
  #topbar .vwsmp_front{
    position: relative;
    top: 7px;
  }
  #topbar .top-button,#topbar .social-inner{
    padding: 0 0 10px !important;
  }
  #topbar .mailadd {
    padding: 36px 0 !important;
    text-align: center;
  }
  #slider .carousel-caption{    top: 0;  }
  #slider .slider-box {
    width: 66%;
    left: 15%;
    top: 47%;
    transform: translateY(-50%);
  }
  #slider .carousel-prev-button,#slider .carousel-next-button{    top: 60%;  }
  .progress-bar{    width: 84%;  }
  #slider .slider-box h1,#slider .slider-box h1 .last_slide_head{
    font-size: 28px;
    line-height: 32px;
  }
  .slider_head {    padding-left: 16px;  }
  #slider .slider-button-1{    padding: 5px 22px;  }
  #our_services .service_block{    padding: 40px 0;  }
  #about-us .imgbox .aboutimg1{
    top: 0;
    margin-bottom: 0;
    width: 325px;
  }
  #about-us .about-img{
    left: 0;
    text-align: center;
  }
  #about-us .imgbox .aboutimg2,#about-us .experiencebox,#our-feature .leftbox .image_text,#our-feature .bottom_txt{
    position: unset;
    transform: unset;
  }
  #about-us .innerbox,#why_choose_us .why_features p,#our-feature .rightbox h2{
    max-width: 100%;
    text-align: center;
  }
  #about-us .about-content-box,#our-records .record_head h2,#testimonials{    padding: 40px 15px;  }
  #about-us .about-feature img{
    top: -8px;
    height: auto;
  }
  #portfolio .mainhead h2,#progress_enquiry h2,#discoverMore h2,#our-records .record_head h2,#about-us .about-content-box h2,#why_choose_us .mainhead h2{    font-size: 28px;  }
  #portfolio .portfolio-feature h5{    font-size: 16px;  }
  #portfolio .portfolio-feature p,#portfolio .portfolio-text{    font-size: 13px;  }
  #portfolio{    padding-bottom: 70px;  }
  #why_choose_us .mainhead{
    max-width: 70%;
    margin: 0 auto;
  }
  #why_choose_us .rightbx:after{    width: 73%;  }
  #why_choose_us .rightbx .circle_box{    right: 0;  }
  #our-records .owl-carousel .owl-stage-outer{    padding-top: 100px;  }
  #our-feature .leftbox img, #our-feature .leftbox{
    text-align: center;
    z-index: 9;
  }
  #our-feature:before{
    width: 46%;
    height: 52%;
  }
  #feature_dotted_shape{    bottom: 28px;  }
  #our-feature .rightbox{
    text-align: center;
    padding-left: 40px !important;
  }
  #our-feature .features-list-box p{    display: block;  }
  #our-feature .progress_bar{    text-align: left;  }
  #our-feature .progresstitle{    left: 140px;  }
  #our-feature .ProgressBar{
    position: relative;
    left: 75px;
    margin-right: -50px;
  }
  #our-blog .our-blog-head{    padding-bottom: 36%;  }
  #our-blog .owl-carousel.owl-loaded{
    top: -268px;
    margin-bottom: -280px;
  }
  #our-blog .progress_wraper {
    position: relative;
    left: -10px;
  }
  #footer .recent-post-box .post-thumb,#our_services .service_headin{    padding: 0 15px !important;  }
}
@media screen and (min-width:768px)  and (max-width:991px){
  #topbar .social-icon,#pricing-plan .container,#our-partners,#slider .slider-box h1,#our-blog .our-blog-head .container,#about-us,#about-us .container-fluid,#our_services .sec_secbtn{
    padding: 0 !important;
  }
  #slider .slider-box h1,#slider .slider-box p,#pricing-plan #pricingtab .row{
    margin: 0 !important;
  }
  #our_services .services-head svg,#discoverMore svg,#why_choose_us .why_features:before,#about-us .about-content-box p:before,.about_circleshape,#about-us .about-content-box .about_dottedsvg,#our_services .our-services-head:after,#aboutleft_svg{
    display: none;
  }
  #why_choose_us .mainhead{    text-align: center;  }
  #our_services .owl-carousel .owl-nav button.owl-prev{    left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #about-us .about-content-box .themebtn{    line-height: 57px;  }
  #topbar .address_box{    border: none;  }
  #topbar .vwsmp_front{
    position: relative;
    top: 7px;
  }
  #topbar .top-button,#topbar .social-inner{    padding: 0 0 10px !important;  }
  #topbar .mailadd {
    padding: 36px 0 !important;
    text-align: center;
  }
  #slider .carousel-caption{    top: 0;  }
  #slider .slider-box {
    width: 66%;
    left: 15%;
    top: 47%;
    transform: translateY(-50%);
  }
  #slider .carousel-prev-button,#slider .carousel-next-button{    top: 60%;  }
  .progress-bar{    width: 84%;  }
  #slider .slider-box h1,#slider .slider-box h1 .last_slide_head{
    font-size: 28px;
    line-height: 32px;
  }
  .slider_head,#our_services .service_headin{    padding-left: 16px !important;  }
  #slider .slider-button-1{    padding: 5px 22px;  }
  #our_services .service_block{    padding: 40px 0;  }
  #about-us .imgbox .aboutimg1{
    top: 0;
    margin-bottom: 0;
    width: 325px;
  }
  #about-us .about-img{
    left: 0;
    text-align: center;
  }
  #about-us .imgbox .aboutimg2,#about-us .experiencebox,#our-feature .leftbox .image_text,#our-feature .bottom_txt{
    position: unset;
    transform: unset;
  }
  #about-us .innerbox,#why_choose_us .why_features p,#our-feature .rightbox h2{
    max-width: 100%;
    text-align: center;
  }
  #about-us .about-content-box,#our-records .record_head h2,#testimonials{    padding: 40px 15px;  }
  #about-us .about-feature img{
    top: -8px;
    height: auto;
  }
  #portfolio .mainhead h2,#progress_enquiry h2,#discoverMore h2,#our-records .record_head h2,#about-us .about-content-box h2,#why_choose_us .mainhead h2{    font-size: 26px;  }
  #portfolio .portfolio-feature h5{    font-size: 16px;  }
  #portfolio .portfolio-feature p,#portfolio .portfolio-text{    font-size: 13px;  }
  #portfolio{
    padding-bottom: 70px;
  }
  #why_choose_us .mainhead{
    max-width: 70%;
    margin: 0 auto;
  }
  #why_choose_us .rightbx:after{    width: 73%;  }
  #why_choose_us .rightbx .circle_box{    right: 0;  }
  #our-records .owl-carousel .owl-stage-outer{    padding-top: 100px;  }
  #our-feature .leftbox img, #our-feature .leftbox{
    text-align: center;
    z-index: 9;
  }
  #our-feature:before{
    width: 46%;
    height: 52%;
  }
  #feature_dotted_shape{    bottom: 28px;  }
  #our-feature .rightbox{
    text-align: center;
    padding-left: 40px !important;
  }
  #our-feature .features-list-box p{    display: block;  }
  #our-feature .progress_bar{    text-align: left;  }
  #our-feature .progresstitle{    left: 140px;  }
  #our-feature .ProgressBar{
    position: relative;
    left: 75px;
    margin-right: -50px;
  }
  #our-blog .our-blog-head{    padding-bottom: 36%;  }
  #our-blog .owl-carousel.owl-loaded{
    top: -268px;
    margin-bottom: -280px;
  }
  #our-blog .progress_wraper {
    position: relative;
    left: -10px;
  }
  #footer .recent-post-box .post-thumb{    padding: 0 15px;  }
  .portfolio-box h4 a{
    font-size: 16px;
  }
  #pricing-plan .pricing_box .imgbx:before{    top: 29px;  }
}
@media screen and (min-width: 992px) and (max-width:1023px) {
  #our_services .owl-carousel .owl-nav button.owl-prev{  left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #slider .slider-box {
    width: 50%;
    left: 10%;
    bottom: 26%;
  }
  #about-us .container-fluid{    padding-left: 0 !important;  }
  #about-us .innerbox {    max-width: 96%;  }
  #about-us .about-img{    left: 95px;  }
  #about-us .imgbox .aboutimg2{
    width: 360px;
    left: 42%;
  }
  #about-us .imgbox .aboutimg1{
    margin-bottom: -70px;
    top: -200px;
  }
  #why_choose_us .circle_box svg{
    width: 150px;
    height: 150px;
  }
  #why_choose_us .rightbx .circle_box {
    right: -4%;
    top: 5%;
  }
  #why_choose_us .rightbx .circle_box_inner{
    padding: 22px 0px 0px 0px;
    max-width: 140px;
  }
  #why_choose_us .rightbx .circle_box_inner img{
    width: 35px;
    height: 35px;
  }
  #why_choose_us .rightbx .circle_box_inner h5{
    font-size: 12px;
    line-height: 14px;
  }
  #why_choose_us .rightbx .circle_box_inner .why_gaurantee{    font-size: 15px;  }
  #our-feature .leftbox img{    left: 45px;  }
  #our-feature .leftbox .image_text{    left: -158px;  }
  #our-blog .our-blog-head{    padding-bottom: 24%;  }
  #our-blog .content-box {    padding: 22px 20px 30px;  }
}
@media screen and (max-width: 1024px){
 #header-menu .current_page_item:before{
    content: none !important;
  }
  .headerbar,.side-navigation,.side-navigation li,.side-navigation ul li a,.side-navigation ul ul li,.side-navigation li.current_page_item{    display: block;  }
  .headerbar {
    margin: 0;
    text-align: left;
  }
  .sticky .headerbar{    text-align: right;  }
  .hamburger {
    padding: 10px;
    display: inline-block;
  }
  .hamburger i,.close-sidebar i {    cursor:pointer;  }
  .hamburger i,.headerbar{    color: #000000;  }
  .header-search-box form{    margin-top: 5px;  }
  .main-header .side-navigation {    display: none  }
  .side-navigation,.side-navigation li {
    padding: 0;
    float: none;
    clear: both;
  }
  .side-navigation ul li a {
    padding: 10px 15px 10px 30px;
    text-align: left;
    width: 250px;
  }
  .side-navigation ul li a ,.side-navigation ul ul a{    color: #ffffff !important;  }
  #sidebar1 {
    position: absolute;
    top: 0;
    right: -235px;
    z-index: 9;
    visibility: hidden;
    height: 100%;
    background: #282d30;
    width: 250px;
    overflow-y: scroll;
  }
  .side-navigation ul li ul, .side-navigation ul li ul ul {    display: block !important;  }
  .side-navigation ul ul,.side-navigation ul ul li {    background: var(--transparent) !important;  }
  .side-navigation ul ul {
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .side-navigation ul ul li{    padding-left: 15px;  }
  .side-navigation ul.sub-menu li a:before{    content: none;  }
  .side-navigation ul>li.menu-item-has-children>a:after{    margin-top: 0;  }
  iframe {
    width: 100%;
    height: auto;
  }
  .content_boxes figure #instagram-embed-0{    height: 706px;  }
  .close-sidebar i{
    font-size: 25px;
    padding: 8px 14px;
    background-color: #35393c;
  }
  .close-sidebar i:hover{    color: #335ec5;  }
  .sticky .side-navigation li{    padding: 0 !important;  }
  .sticky .side-navigation ul ul li,.sticky .side-navigation ul ul ul li{    padding: 10px 15px !important;  }
  .side-navigation ul ul,.side-navigation ul ul li:hover .sub-menu,.side-navigation ul.sub-menu ul.sub-menu{
    transform: unset;
    opacity: 1;
    visibility: visible;
  }
  .side-navigation ul ul li a:hover{
    color: #e9430f !important;
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
  }
  amp-sidebar#sidebar1{
    display: block;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px){
  .home .container{
    max-width: 1024px !important;
    margin: 0 auto;
  }
  .home .container-fluid{
    max-width: 1350px !important;
    margin: 0 auto;
  } 
  #our_services .owl-carousel .owl-nav button.owl-prev{  left: -15px;  }
  #our_services .owl-carousel .owl-nav button.owl-next{    right: -15px;  }
  #slider .slider-box {
    width: 50%;
    left: 10%;
    bottom: 26%;
  }
  #about-us .container-fluid{    padding-left: 0 !important;  }
  #about-us .innerbox {    max-width: 96%;  }
  #about-us .about-img{    left: 95px;  }
  #about-us .imgbox .aboutimg2{
    width: 360px;
    left: 42%;
  }
  #about-us .imgbox .aboutimg1{
    margin-bottom: -70px;
    top: -200px;
  }
  #why_choose_us .circle_box svg{
    width: 150px;
    height: 150px;
  }
  #why_choose_us .rightbx .circle_box {
    right: -4%;
    top: 5%;
  }
  #why_choose_us .rightbx .circle_box_inner{
    padding: 22px 0px 0px 0px;
    max-width: 140px;
  }
  #why_choose_us .rightbx .circle_box_inner img{
    width: 35px;
    height: 35px;
  }
  #why_choose_us .rightbx .circle_box_inner h5{
    font-size: 12px;
    line-height: 14px;
  }
  #why_choose_us .rightbx .circle_box_inner .why_gaurantee,.portfolio-box h4 a{    font-size: 15px;  }
  #our-feature .leftbox img{    left: 45px;  }
  #our-feature .leftbox .image_text{    left: -158px;  }
  #our-blog .our-blog-head{    padding-bottom: 24%;  }
}
/* ------------- Mozilla Style -------------- */
@-moz-document url-prefix() {
  .main-navigation ul{    text-align: left;  }
  .main-navigation a{    font-size: 18px;  }
}